<div class="container">
  <h2>User Loan Status</h2>
  <app-table
    [columns]="columns"
    [data]="loans"
    [loading]="loading"
    [actions]="true"
  >
    <ng-template #actionTemplate let-item>
      <app-button
        *ngIf="
          item.Status === 'Pending' ||
          item.Status === 'In Processing' ||
          item.Status === 'Decision Pending'
        "
        label="Approve"
        variant="primary"
        (click)="approveLoan(item)"
        [ngStyle]="{ padding: '2px',width:'auto', margin: '2px', fontSize: '12px' }"
      ></app-button>
      <app-button
        *ngIf="
          item.Status === 'Pending' ||
          item.Status === 'In Processing' ||
          item.Status === 'Decision Pending'
        "
        label="Reject"
        variant="secondary"
        (click)="rejectLoan(item)"
        [ngStyle]="{padding: '2px',width:'auto', margin: '2px', fontSize: '12px' }"
      ></app-button>
      <span
        *ngIf="item.Status === 'Approved'"
        style="color: green; font-weight: bold"
        >Approved</span
      >
      <span
        *ngIf="item.Status === 'Rejected'"
        style="color: red; font-weight: bold"
        >Rejected</span
      >
    </ng-template>
  </app-table>
</div>
