<nz-table #fdTable [nzData]="fdTypes" nzBordered>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name of FD</th>
      <th>Interest Rate</th>
      <th>Duration (months)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fd of fdTypes">
      <td>{{ fd.fdtypeId }}</td>
      <td>{{ fd.name }}</td>
      <td>{{ fd.interestRate }}%</td>
      <td>{{ fd.duration }}</td>
      <td>
        <button nz-button nzType="default" (click)="showEditModal(fd)">
          Modify
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isEditModalVisible"
  nzTitle="Edit Fixed Deposit Type"
  (nzOnCancel)="handleEditCancel()"
  (nzOnOk)="handleEditOk()"
  [nzOkLoading]="isEditLoading"
>
  <form *ngIf="editForm" [formGroup]="editForm" nz-form>
    <nz-form-item>
      <nz-form-label>Name:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="name" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label>Description:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="description" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label>Interest Rate:</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" formControlName="interestRate" />
      </nz-form-control>
    </nz-form-item>
    
    <!-- Add similar nz-form-item wrappers for all other fields -->
    <nz-form-item>
      <nz-form-label>Min Amount:</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" formControlName="minAmount" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label>Max Amount:</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" formControlName="maxAmount" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label>Duration (months):</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" formControlName="duration" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label>Active:</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="isActive"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    
    <!-- Readonly fields -->
    <nz-form-item>
      <nz-form-label>Created By:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="createdBy" readonly />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label>Modified By:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="modifiedBy" readonly />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label>Created At:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="createdAt" readonly />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label>Modified At:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="modifiedAt" readonly />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

