<div class="add-user-container">
  <div class="header">
    <div class="search-container">
      <input
        type="text"
        placeholder="search for users..."
        [(ngModel)]="searchText"
      />
    </div>
    <button nz-button nzType="primary" (click)="showModal()">
      <i nz-icon nzType="plus"></i>Add User
    </button>
  </div>

  <div *ngIf="(data | users : searchText).length === 0" class="no-data-message">
    <nz-empty
      nzNotFoundImage="simple"
      nzNotFoundContent="No users found"
    ></nz-empty>
  </div>

  <app-table
    *ngIf="(data | users : searchText).length > 0"
    [columns]="columns"
    [data]="data | users : searchText"
    [loading]="false"
  >
  </app-table>

  <nz-modal
    [(nzVisible)]="isModalVisible"
    nzTitle="Add New User"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <ng-container *nzModalContent>
      <form [formGroup]="userForm" nz-form [nzLayout]="'vertical'">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>First Name</nz-form-label>
          <nz-form-control
            [nzSpan]="24"
            [nzErrorTip]="getErrorMessage('firstName')"
          >
            <input nz-input formControlName="firstName" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Last Name</nz-form-label>
          <nz-form-control
            [nzSpan]="24"
            [nzErrorTip]="getErrorMessage('lastName')"
          >
            <input nz-input formControlName="lastName" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Email</nz-form-label>
          <nz-form-control
            [nzSpan]="24"
            [nzErrorTip]="getErrorMessage('email')"
          >
            <input nz-input formControlName="email" type="email" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Phone Number</nz-form-label>
          <nz-form-control
            [nzSpan]="24"
            [nzErrorTip]="getErrorMessage('phoneNumber')"
          >
            <input nz-input formControlName="phoneNumber" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Password</nz-form-label>
          <nz-form-control
            [nzSpan]="24"
            [nzErrorTip]="getErrorMessage('password')"
          >
            <input nz-input formControlName="password" type="password" />
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-modal>
</div>
