<div class="container">
  <a routerLink="/repayment"><i class="fa-solid fa-backward"></i> Back</a>
  <h2>Repayments for Loan #{{ loanApplicationId }}</h2>

  <app-table
    [columns]="columns"
    [data]="repayments"
    [loading]="loading"
    
  >
    <ng-template #actionTemplate let-item>
      <button class="btn btn-primary" (click)="addPenalty(item)">
        Add Fine
      </button>
      <!-- <span *ngIf="item.status !== 'Overdue'">{{ item.status }}</span> -->
    </ng-template>
  </app-table>
</div>
